<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Veritas Bank offers a modern digital banking experience designed for individuals and businesses. Manage your finances securely with intelligent savings, easy transfers, and powerful financial tools.">

  <meta name="keywords" content="Veritas Bank, Digital Banking, Online Banking, Mobile Banking App, Smart Banking, Secure Bank, Savings Account, Current Account, Personal Finance, Business Banking, Banking App, Financial Services, Open Bank Account, Investment Tools, Fintech Solutions, Digital Wallet, Finance Management">

  <meta name="author" content="Veritas Bank">

  <!-- Open Graph (for social media sharing) -->
  <meta property="og:title" content="Veritas Bank – Digital Banking for Everyone" />
  <meta property="og:description" content="Experience a new level of banking with Veritas. Secure, simple, and smart financial tools built for you." />
  <meta property="og:image" content="/assets/img/veritas-banner.jpeg" />
  <meta property="og:url" content="https://verittasfounders.com" />
  <meta property="og:type" content="website" />
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#1a45e5">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1a45e5">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Veritas Bank",
      "url": "https://www.verittasfounders.com",
      "logo": "https://www.verittasfounders.com/assets/img/veritas-banner.jpeg,
      "description": "Experience a new level of banking with Veritas. Secure, simple, and smart financial tools built for you.",
    }
  </script>
  <title><%= title %> | Veritas Bank</title>
  <link rel="icon" type="image/png" href="/assets/images/fav_icon.jpeg" sizes="16x16">
  <!-- remix icon font css  -->
  <link rel="stylesheet" href="/assets/css/remixicon.css">
  <!-- BootStrap css -->
  <link rel="stylesheet" href="/assets/css/lib/bootstrap.min.css">
  <!-- Apex Chart css -->
  <link rel="stylesheet" href="/assets/css/lib/apexcharts.css">
  <!-- Data Table css -->
  <link rel="stylesheet" href="/assets/css/lib/dataTables.min.css">
  <!-- Text Editor css -->
  <link rel="stylesheet" href="/assets/css/lib/editor-katex.min.css">
  <link rel="stylesheet" href="/assets/css/lib/editor.atom-one-dark.min.css">
  <link rel="stylesheet" href="/assets/css/lib/editor.quill.snow.css">
  <!-- Date picker css -->
  <link rel="stylesheet" href="/assets/css/lib/flatpickr.min.css">
  <!-- Calendar css -->
  <link rel="stylesheet" href="/assets/css/lib/full-calendar.css">
  <!-- Vector Map css -->
  <link rel="stylesheet" href="/assets/css/lib/jquery-jvectormap-2.0.5.css">
  <!-- Popup css -->
  <link rel="stylesheet" href="/assets/css/lib/magnific-popup.css">
  <!-- Slick Slider css -->
  <link rel="stylesheet" href="/assets/css/lib/slick.css">
  <!-- prism css -->
  <link rel="stylesheet" href="/assets/css/lib/prism.css">
  <!-- file upload css -->
  <link rel="stylesheet" href="/assets/css/lib/file-upload.css">

  <link rel="stylesheet" href="/assets/css/lib/audioplayer.css">
  <!-- Izi toast -->
  <link rel="stylesheet" href="/assets/css/lib/iziToast.min.css">
  <!-- main css -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- Smartsupp Live Chat script -->
  <script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '01bb528a676f6b9dd463a2e1e94a8c53629ca8dc';
    window.smartsupp || (function(d) {
      var s, c, o = smartsupp = function() {
        o._.push(arguments)
      };
      o._ = [];
      s = d.getElementsByTagName('script')[0];
      c = d.createElement('script');
      c.type = 'text/javascript';
      c.charset = 'utf-8';
      c.async = true;
      c.src = 'https://www.smartsuppchat.com/loader.js?';
      s.parentNode.insertBefore(c, s);
    })(document);
  </script>
  <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
</head>

<body>