<!-- Start Footer Area -->
<section class="footer-area pt-100 pb-70">
  <div class="container" style="padding: 0 30px;">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <div class="footer-logo">
            <h2><img src="/assets/img/white-logo.png" alt=""></h2>

            <p>We proudly operate our banking services in multiple countries around the world, offering reliable, secure, and customer-focused solutions to individuals and businesses.</p>

            <!-- <ul class="social">
              <li>
                <a href="index.html#" class="facebook" target="_blank">
                  <i class='bx bxl-facebook'></i>
                </a>
              </li>
              <li>
                <a href="index.html#" class="twitter" target="_blank">
                  <i class='bx bxl-twitter'></i>
                </a>
              </li>
              <li>
                <a href="index.html#" class="pinterest" target="_blank">
                  <i class='bx bxl-instagram'></i>
                </a>
              </li>
              <li>
                <a href="index.html#" class="linkedin" target="_blank">
                  <i class='bx bxl-linkedin'></i>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h3>Contact</h3>

          <ul class="footer-contact-info">
            <li>
              <i class='bx bxs-phone'></i>
              <span>Phone</span>
              <a href="tel:15147939-357">+1 (514) 7939-357</a>
            </li>
            <li>
              <i class='bx bx-envelope'></i>
              <span>Email</span>
              <a href="mailto:support@veritasfounders.com"><span class="__cf_email__">support@veritasfounders.com</span></a>
            </li>
            <li>
              <i class='bx bx-map'></i>
              <span>Address</span>
              6890 Blvd, The Bronx, NY 1058 <br> New York, USA
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget pl-5">
          <h3>Services</h3>

          <ul class="quick-links">
            <li>
              <a href="/">Bank accounts</a>
            </li>
            <li>
              <a href="/">Savings</a>
            </li>
            <li>
              <a href="/credit-cards">Credit cards</a>
            </li>
            <li>
              <a href="/loans">Personal Loans</a>
            </li>
            <!-- <li>
              <a href="index.html#">Car finance</a>
            </li> -->
            <li>
              <a href="/loans">Business Loans</a>
            </li>
            <!-- <li>
              <a href="index.html#">Online banking</a>
            </li> -->
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h3>Help & guidance</h3>

          <ul class="quick-links">
            <li>
              <a href="/security">Security</a>
            </li>
            <li>
              <a href="/privacy-policy">Privacy Policy</a>
            </li>
            <li>
              <a href="/terms-of-service">Terms of Service</a>
            </li>
            <li>
              <a href="/contact-us">Help</a>
            </li>
            <!-- <li>
              <a href="index.html#">Managing your money</a>
            </li>
            <li>
              <a href="index.html#">Proving your identity</a>
            </li>
            <li>
              <a href="index.html#">International banking</a>
            </li>
            <li>
              <a href="index.html#">Help centre</a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Footer Area -->

<!-- Start Copy Right Area -->
<div class="copyright-area">
  <div class="container">
    <div class="copyright-area-content">
      <p>
        Copyright Veritas Bank. All Rights Reserved 
      </p>
    </div>
  </div>
</div>
<!-- End Copy Right Area -->

<!-- Start Go Top Area -->
<div class="go-top">
  <i class='bx bx-up-arrow-alt'></i>
</div>
<!-- End Go Top Area -->

<!-- Jquery Slim JS -->
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<!-- Meanmenu JS -->
<script src="/assets/js/jquery.meanmenu.js"></script>
<!-- Nice Select JS -->
<script src="/assets/js/jquery.nice-select.min.js"></script>
<!-- Owl Carousel JS -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Magnific Popup JS -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Odometer JS -->
<script src="/assets/js/odometer.min.js"></script>
<!-- Jquery Appear JS -->
<script src="/assets/js/jquery.appear.min.js"></script>
<!-- Ajaxchimp JS -->
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator JS -->
<script src="/assets/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="/assets/js/contact-form-script.js"></script>
<!-- Wow JS -->
<script src="/assets/js/wow.min.js"></script>
<!-- Custom JS -->
<script src="/assets/js/main.js"></script>
</body>

</html>