<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>
    <%= subject %>
  </title>

  <%- include('styles/_style') %>
</head>

<body>
  <table class="body" role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td></td>
        <td class="container">
          <div class="content">
            <!-- Rest of your HTML content -->
            <div style="background-color: white; width: 100%; height: auto;">
              <p style="text-align: center;" style="padding: 10px 0;">
                <img src="https://res.cloudinary.com/ditgbhb8w/image/upload/v1749513865/logo-dark_o1jsdi.png" alt="Image" width="60%" style="height: auto;" />
              </p>
            </div>
            <p>Hi <%= firstName %>,</p>
            <p>
              For security reasons, we require you to verify your login attempt.
              Please use the one-time password (OTP) below to proceed with your login:
            </p>
            <p>🔒 Your OTP: <%= url %>

            </p>

            </p>

            <p>Should you have any questions or require further assistance,
              please don't hesitate to reach out to our support
              team at <a href="mailto:support@verittasfounders.com">support@verittasfounders.com</a> or start a live chat with our <a href="https://widget-page.smartsupp.com/widget/01bb528a676f6b9dd463a2e1e94a8c53629ca8dc">support here.</a></p>
            <!-- Michael Enterprise <br>
            Your gateway to convenience... -->
            <!-- Footer section -->
            <div class="footer">
              <table class="content-block" role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td>
                      <!-- <span class="apple-link">Michael Enterprise, Берберовская 6с2, Rostov on Don, Russia</span> -->
                      <br />
                      Don't like these emails? <a href="#">Unsubscribe</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>