<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>
    <%= subject %>
  </title>

  <%- include('styles/_style') %>
</head>

<body>
  <table class="body" role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td></td>
        <td class="container">
          <div class="content">
            <div style="background-color: white; width: 100%; height: auto;">
              <p style="text-align: center;">
                <img src="https://res.cloudinary.com/ditgbhb8w/image/upload/v1749513865/logo-dark_o1jsdi.png" alt="Image" width="30%" style="height: auto;" />
              </p>
            </div>
            <!-- Rest of your HTML content -->
            <p>Dear <%= firstName %>,</p>
            <p>Welcome to National Trust Bank! We're thrilled to have you join our community of forward-thinking investors.</p>
            <p>
              At National Trust Bank, we are committed to helping you grow your wealth with secure and profitable investment opportunities tailored to meet your financial goals. Whether you're just starting or an experienced investor, we're here to guide you every step of the way.

            </p>
            <p>Here’s what you can expect:
            <ul>
              <li>Expert-backed investment strategies.</li>
              <li>Transparent and reliable portfolio updates.</li>
              <li>24/7 dedicated support to answer your questions.</li>
            </ul>
            </p>
            <p>
              Start exploring your opportunities today by logging into your dashboard:
              <a href="/dashboard">[Access Your Dashboard]</a>
            </p>
            <table class="btn btn-primary" role="presentation" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td align="left">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td>
                            <a href="<%= url %>" target="_blank">Home</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <p>Should you have any questions or require further assistance,
              please don't hesitate to reach out to our support
              team at <a href="mailto:support@ntbank.org">support@ntbank.org</a> or start a live chat with our <a href="https://widget-page.smartsupp.com/widget/887f9f5779601af6a7e22b6539e0240e2d7a58e8">support here.</a></p>
            <!-- Footer section -->
            <div class="footer">
              <table class="content-block" role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td>
                      <!-- <span class="apple-link">Michael Enterprise, Берберовская 6с2, Rostov on Don, Russia</span> -->
                      <br />
                      Don't like these emails? <a href="#">Unsubscribe</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>