<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>
    <%= subject %>
  </title>

  <%- include('styles/_style') %>
</head>

<body>
  <table class="body" role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td></td>
        <td class="container">
          <div class="content">
            <div style="background-color: white; width: 100%; height: auto;">
              <p style="text-align: center;" style="padding: 10px 0;">
                <img src="https://res.cloudinary.com/ditgbhb8w/image/upload/v1749513865/logo-dark_o1jsdi.png" alt="Image" width="60%" style="height: auto;" />
              </p>
            </div>
            <!-- Rest of your HTML content -->
            <p>Dear <%= firstName %>,</p>
            <p>Welcome to Veritas Bank — and thank you for choosing a financial partner built on truth, trust, and tomorrow.</p>
            <p>Your new account has been successfully created, and we’re excited to support you with innovative banking solutions designed to help you grow, save, and succeed.</p>
            <p>Here’s what you can expect as part of the Veritas family:
            <ul>
              <li>Secure and seamless digital banking access</li>
              <li>Personalized financial advice and support</li>
              <li>A dedicated customer service team that truly listens</li>
            </ul>
            </p>
            <p>Your trust means everything to us. If you have any questions or need help getting started, feel free to contact us at <a href="mailto:support@veritasfounders.com">support@veritasfounders.com</a>.</p>
            <p>Thank you once again for joining us. We look forward to growing with you.</p>
            <p>
              Warm regards, <br>
              The Veritas Bank Team <br>
              Truth. Trust. Tomorrow.
            </p>
            <!-- Footer section -->
            <div class="footer">
              <table class="content-block" role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td>
                      <!-- <span class="apple-link">Michael Enterprise, Берберовская 6с2, Rostov on Don, Russia</span> -->
                      <br />
                      Don't like these emails? <a href="#">Unsubscribe</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>