<%- include('partials/landingPageHeader') %>

<!-- Start Page Banner -->
<div class="page-banner-area item-bg3">
  <div class="container">
    <div class="page-banner-content">
      <h2>Contact</h2>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>Contact</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Page Banner -->

<!-- Start Contact Info Area -->
<section class="contact-info-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="contact-info-box">
          <div class="icon">
            <i class="flaticon-office"></i>
          </div>

          <h3>Office</h3>
          <p>Leve Banking Corporation 6890 Blvd, The Bronx, NY 1058 New York, USA</p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="contact-info-box">
          <div class="icon">
            <i class="flaticon-contact"></i>
          </div>

          <h3>Contact</h3>
          <p><a href="tel:15143125678">+1(514)312-5678</a></p>
          <p><a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#ddb5b8b1b1b29db1b8abb8f3beb2b0"><span class="__cf_email__" data-cfemail="7c14191010133c10190a19521f1311">[email&#160;protected]</span></a></p>
          <p><a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#5731362f173b3221327934383a"><span class="__cf_email__" data-cfemail="482e293008242d3e2d662b2725">[email&#160;protected]</span></a></p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="contact-info-box">
          <div class="icon">
            <i class="flaticon-time"></i>
          </div>

          <h3>Open hours</h3>
          <p>Mon–Fri: 8 AM - 9 PM</p>
          <p>Saturday: 8 AM - 8 PM</p>
          <p>Sunday: 8 AM - 5 PM</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Info Area -->

<!-- Start Contact Area -->
<section class="contact-area ptb-100">
  <div class="container">
    <div class="section-title">
      <h2>Drop Us a Message for Any Query</h2>
      <p>Have questions? We’re here to help! Reach out anytime and our team will get back to you promptly. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>


    <div class="contact-form">
      <form id="contactForm">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Full name</label>

              <input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Full name">
              <div class="help-block with-errors"></div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Email</label>

              <input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Email">
              <div class="help-block with-errors"></div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Phone</label>

              <input type="text" name="phone_number" id="phone_number" required data-error="Please enter your number" class="form-control" placeholder="Phone">
              <div class="help-block with-errors"></div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Subject</label>

              <input type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="Please enter your subject" placeholder="Subject">
              <div class="help-block with-errors"></div>
            </div>
          </div>

          <div class="col-lg-12 col-md-12">
            <div class="form-group">
              <label>Your message</label>

              <textarea name="message" class="form-control" id="message" cols="30" rows="5" required data-error="Write your message" placeholder="Message here."></textarea>
              <div class="help-block with-errors"></div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="checkme">
              <label class="form-check-label" for="checkme">
                Accept <a href="terms-of-service.html">Terms of Services</a> and <a href="privacy-policy.html">Privacy Policy.</a>
              </label>
            </div>
          </div>

          <div class="col-lg-12 col-md-12">
            <button type="submit" class="default-btn">Send Message</button>
            <div id="msgSubmit" class="h3 text-center hidden"></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- End Contact Area -->

<!-- Start Map Area -->
<div id="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3014.8443973418493!2d-73.78427048433998!3d40.919157532852445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c28d85a1e3ed25%3A0xa4274d173ef7563b!2sThe%20Blvd%2C%20New%20Rochelle%2C%20NY%2010801%2C%20USA!5e0!3m2!1sen!2sbd!4v1601545414990!5m2!1sen!2sbd"></iframe>
</div>
<!-- End Map Area -->

<%- include('partials/landingPageFooter') %>