<%- include('partials/dashboardHeaderNav') %>

<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title mb-0">Transfer History</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table bordered-table mb-0">
          <thead>
            <tr>
              <th scope="col">S/N</th>
              <th scope="col">Reference</th>
              <th scope="col">Amount</th>
              <th scope="col" class="text-center">Status</th>
              <th scope="col">Method</th>
              <th scope="col">Date</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="assets/images/users/user1.png" alt="" class="flex-shrink-0 me-12 radius-8">
                  <span class="text-lg text-secondary-light fw-semibold flex-grow-1">Dianne Russell</span>
                </div>
              </td>
              <td>#6352148</td>
              <td>iPhone 14 max</td>
              <td>2</td>
              <td>$5,000.00</td>
              <td class="text-center"> <span class="bg-success-focus text-success-main px-24 py-4 rounded-pill fw-medium text-sm">Paid</span> </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="assets/images/users/user2.png" alt="" class="flex-shrink-0 me-12 radius-8">
                  <span class="text-lg text-secondary-light fw-semibold flex-grow-1">Wade Warren</span>
                </div>
              </td>
              <td>#6352148</td>
              <td>Laptop HPH </td>
              <td>3</td>
              <td>$1,000.00</td>
              <td class="text-center"> <span class="bg-warning-focus text-warning-main px-24 py-4 rounded-pill fw-medium text-sm">Pending</span> </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="assets/images/users/user3.png" alt="" class="flex-shrink-0 me-12 radius-8">
                  <span class="text-lg text-secondary-light fw-semibold flex-grow-1">Albert Flores</span>
                </div>
              </td>
              <td>#6352148</td>
              <td>Smart Watch </td>
              <td>7</td>
              <td>$1,000.00</td>
              <td class="text-center"> <span class="bg-info-focus text-info-main px-24 py-4 rounded-pill fw-medium text-sm">Shipped</span> </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="assets/images/users/user4.png" alt="" class="flex-shrink-0 me-12 radius-8">
                  <span class="text-lg text-secondary-light fw-semibold flex-grow-1">Bessie Cooper</span>
                </div>
              </td>
              <td>#6352148</td>
              <td>Nike Air Shoe</td>
              <td>1</td>
              <td>$3,000.00</td>
              <td class="text-center"> <span class="bg-danger-focus text-danger-main px-24 py-4 rounded-pill fw-medium text-sm">Canceled</span> </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="assets/images/users/user5.png" alt="" class="flex-shrink-0 me-12 radius-8">
                  <span class="text-lg text-secondary-light fw-semibold flex-grow-1">Arlene McCoy</span>
                </div>
              </td>
              <td>#6352148</td>
              <td>New Headphone </td>
              <td>5</td>
              <td><a href="javascript:void(0)" style="padding: 10px 40px; border-radius: 5px;" class="w-32-px h-32-px bg-primary-light text-primary-600 d-inline-flex align-items-center justify-content-center">
                  <iconify-icon icon="iconamoon:eye-light"></iconify-icon> view
                </a></td>
              <td class="text-center"> <span class="bg-danger-focus text-danger-main px-24 py-4 rounded-pill fw-medium text-sm">Canceled</span> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- card end -->
</div>

<%- include('partials/dashboardFooterNav') %>